/**::after,
*::before,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*/

body{
    margin: 0 auto;
    max-width: 1300px;
    font-family:'Lato';
    color: #333333;
}
.icon-cart{   /*Dimensiones del icono de compras*/
    width: 16px;
    height: 40px;
    transition: all 2s;
    padding:0px 45px;
}
img{ /*Tamaño de las imagenes*/
    max-width: 100%;
}
header{ /*separar el titulo con el carrito de compras*/
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 0px 0px;
}
.Containerproductos{ /*Configuracion de los contenedores de cada producto*/
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; /*Se usa para separar cada contener de los productos*/
}
.item{  /*Configuracion de las clases de cada contenedor de los items*/
    border-radius: 10px;
}
.item:hover{
    box-shadow: 0 10px 20px rgb(0, 0, 0, 0.30)  /*Configuracion de los bordes de cada contenedor de los items*/
}
.info-product{ /*Configuracion de los parrafos y la descripcion*/
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;/*Configuracion de los parrafos su espacio ordenadamente*/
    gap: 05px; /*Configuracion de los espacio o separacion de los parrafos y botones*/
}
.item img{  /*Configuracion tamaño de las imagenes ancho y largo*/
    width: 100%;
    height: 270px;/*Configuracion tamaño de las imagenes con el contenedor*/
    object-fit: cover; /*Configuracion de las imagenes y las centra*/
    border-top-left-radius: 40px; /*forma ovalada a la imagenes*/
    transition: all .5s; /*Velocidad en que se muestran las imagenes en el 3d al pasar el puntero por encima*/
}
.item:hover img{   /*forma sobresaliente 3d a la imagenes*/
    transform: scale(1.2);
}
.item figure{  /*forma sobresaliente 3d a la imagenes- para que no se sobresalgan o desborden*/
    overflow: hidden;
}
.precio{
    font-size: 20px; /*tamaño del texto precio*/
    font-weight: 900;/*Negrilla del texto precio*/
}
/*.info-product button{
    border: none;
    background: none;
    background-color: #333;
    color: aliceblue; /*Color texto del botom comprar*//*
    padding: 10px 10px;*//*
    cursor: pointer; *//*Para la manito cuando paso el cursor*//*
    font-size: 17px; *//*tamaño del texto comprar*//*
    font-weight: 500;*//*Negrilla del texto comprar*/ /*
} */
.button2{   /*Configuracion link y clase del botton comprar*/
    border: none;
    background: none;
    background-color: #241b10;
    color: rgb(145, 161, 145); /*Color texto link del botom comprar*/
    padding: 10px 10px;
    display: grid;
    border-radius: 20px;
}
.info-product button{   /*Color texto del botom comprar*/
    padding: 10px 5px;
    cursor: pointer; /*Para la manito cuando paso el cursor*/
    font-size: 17px; /*tamaño del texto comprar*/
    font-weight: 510;/*Negrilla del texto comprar*/ 
}
.imagen{
    padding:0px 0px;
    height: 100px;/*Configuracion tamaño de las imagenes con el contenedor*/
    object-fit: cover; /*Configuracion de las imagenes y las centra*/
    border-radius: 50%; /*forma ovalada a la imagenes*/
    transform: scale(1.0);
    width: 100%;  
} 






.pie-img{
   
    text-align: center;
    display: 100px;
    transform: scale(1.0);
    padding:10px 10px;
    height: 355px;/*Configuracion tamaño de las imagenes con el contenedor*/
    object-fit: cover; /*Configuracion de las imagenes y las centra*/
    border-radius: 0%; /*forma ovalada a la imagenes*/
    width: 100%;  
    background: linear-gradient(to right, rgba(23, 131, 219, 0.8),rgba(0 0 0 / 0.4) ), url(/tienda/images/piep.jpg);
    background-size: cover;
}
.pie-text{
    width: 100%; 
    display: flex;
    color: aliceblue;
    font-size: 20px; /*tamaño del texto comprar*/
    padding: 40px 0px 10px 0px;
    line-height: 20px;
}
.correo{
    color: white;
    font-size: 15px;
}

/*CONFIGURACION CONTACTO*/

.cc1{
    width: 0; 
    color: rgb(2, 23, 41);
    font-size: 20px; /*tamaño del texto comprar*/
    padding: 0px 0px 0px 530px;
    line-height: 0px ;
    background-position: right;
    text-align: center;
    background-color: #af9210;
}

.contacto1 button{
    width: 25%;
    display: flex;
    justify-content: center;
    background-color: #134157;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 15px 0px;
    border-radius: 100px;
    cursor: pointer;
}
.cor11{
    display: flex;
    color: rgb(46, 14, 230);
    font-size: 15px;
    background: fixed;
    padding: 0px 0px 0px 0px;
}

/*CONFIGURACION WHATSAPP*/

.whatsapp-container {
    text-align: center;
    background: fixed;
    padding: 0px 0px 0px 300px;
  }

  .whatsapp-btn {
    width: 50%;
    display: flex;
    justify-content: center;
    background-color: #25D366;
    color: white;
    font-size: 25px;
    font-weight: bold;
    padding: 15px 10px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
  }

  .whatsapp-btn:hover {
    background-color: #1ebc57;
  }

  .qr-container {
    margin-top: 15px;
  }

  .qr-container img {
    display: flex;
    width: 200px;
    height: 200px;
    padding: 0px 115px;
  }
 .contacto-pagina{
    width: 0 auto;
    display: flex;
    color: #333333;
    transform: scale(2.0);
    position: fixed;
    font-weight: 900;/*Negrilla del texto*/ 
    padding:0px 0px 0px 765px;
 }




/*-----------------------------------------------------------------------------------------------------------------*/



 /*RESPONSIVO PARA DISPOSITIVOS MOVILES 1 FORMA PARA TAMAÑO DE 900 PX*/
@media screen and (max-width:900px){  /*SE ADPATA EN 900PX */
    header{
        background-position: center;   
    }
}
.cc1{
    font-size: 15px;
    justify-content:right;/*centra */
    width: 10%; 
    background-position: right;
   
}





.texto{
    font-size: 5px;
}

.contenedor-sobre-nosotros{
    flex-direction: column;/*centra */
    justify-content:center;/*centra */
    align-items: center;
}
.textob button{
    width: 90%;
}
.img{
    width: 20%;
}
.Containerproductos1{
    justify-content: column; /*ahora de filas los pasa a columnas- dejabo de la otra*/
    justify-content: center;/*ahora lo centra verticalmente y no horizontal*/
    align-items: center;/*centrarlos*/
}



/*RESPONSIVO PARA DISPOSITIVOS MOVILES 2 FORMA PARA TAMAÑO DE 500 PX*/
@media screen and (max-width:500px){  /*SE ADPATA EN 500PX */
    nav{
        background-position: center;  
        padding: 30px 0 0 0 ; 
    }
    nav a{
        margin-right: 5px;
    }
}

.header .texto{
    font-size: 35px;
}
.img{
    width: 50%;
}
.texto{
    font-size: 10px;
}